#

In [1]:
import pandas as pd

The cell below Reads the five excel files described by their names. Each Excel file contains at least 10
sheets. Using pd.concat, one can merge them into a single dataframe.

In [2]:
df1 = pd.concat(pd.read_excel('2017_02_13_DeKUT_Annotation_File.xlsx', sheet_name=None), ignore_index=True)
#df1

df2 = pd.concat(pd.read_excel('2017_01_14_DeKUT_Annotation_File.xlsx', sheet_name=None), ignore_index=True)
#df2

df3 = pd.concat(pd.read_excel('2017_02_16_DeKUT_Annotation_File.xlsx', sheet_name=None), ignore_index=True)
#df3

df4 = pd.concat(pd.read_excel('2017_11_MKNP_Annotation_File.xlsx', sheet_name=None), ignore_index=True)
#df4

df5 = pd.concat(pd.read_excel('2018_06_MKNP_Annotation_File.xlsx', sheet_name=None), ignore_index=True)
#df5

In [3]:
#Merge the dataframes obtained above into a single dataframe df 

frames = [df1, df2, df3, df4, df5]

df= pd.concat(frames)
df

,Recording,Foreground Species,Background Species,Remarks,Unnamed: 4
0,1-2017-02-13-06-46-03,"Amethyst Sunbird, Yellow-whiskered Greenbul",Cape Robin Chat,NaN,NaN
1,1-2017-02-13-06-56-05,Cape Robin Chat,"Black-collared Apalis, Red-eyed Dove, Grey-bac...",NaN,NaN
2,1-2017-02-13-07-21-10,Cape Robin Chat,Yellow-whiskered Greenbul,NaN,NaN
3,1-2017-02-13-07-36-13,Grey-backed Camaroptera,Tropical Boubou,NaN,NaN
4,1-2017-02-13-08-41-25,Cape Robin Chat,Tropical Boubou,NaN,NaN
...,...,...,...,...,...
445,10-2018-06-20-09-45-36.wav,Unknown call,Brown Woodland Warbler,NaN,NaN
446,10-2018-06-20-10-00-40.wav,Crowned Eagle,No record,NaN,NaN
447,10-2018-06-20-10-35-47.wav,No record,No record,NaN,NaN
448,10-2018-06-20-10-55-52.wav,No record,no record,NaN,NaN
449,10-2018-06-20-11-00-53.wav,No record,No record,NaN,NaN

In [4]:
df.isnull().sum()  # Find the sum of missing data in each column

Recording                0
Foreground Species       0
Background Species      60
Remarks               1126
Unnamed: 4            1248
dtype: int64

Some columns contain data that may be insignificant to the analysis one intends to carry out on the dataset.
In this case, The 'Unnamed :4' and 'Remarks' have almost every cell under them empty. Dropping them will have little or no
effect on our analysis. The cell drops them from the data frame

In [5]:
df.drop(['Unnamed: 4','Remarks'], axis=1, inplace=True)

In [6]:
# Fill the missing data in the Background Species with 'No record'

df['Background Species'].fillna(value='No record', inplace=True)
df.isnull().sum()

Recording             0
Foreground Species    0
Background Species    0
dtype: int64

The following cells iterate through the dataframe checking whether the contents of column 2 and 3 of each row matches the one
given by the if statement. If there's a match, the row that meets the condition gets printed out.

In [7]:
for i in range(0,len(df)-1):
    if df.iloc[i,1]=='Yellow-whiskered Greenbul' and df.iloc[i,2]=='No record':
        x=(df.iloc[i])
        print(x)

Recording                 8-2017-02-13-07-25-33
Foreground Species    Yellow-whiskered Greenbul
Background Species                    No record
Name: 72, dtype: object
Recording                 8-2017-02-13-08-10-42
Foreground Species    Yellow-whiskered Greenbul
Background Species                    No record
Name: 75, dtype: object

In [8]:
for i in range(0,len(df)-1):
    if df.iloc[i,1]=='Grey-backed Camaroptera' and df.iloc[i,2]=='No record':
        x=(df.iloc[i])
        print(x)

Recording               8-2017-02-13-07-10-30
Foreground Species    Grey-backed Camaroptera
Background Species                  No record
Name: 70, dtype: object

In [9]:
for i in range(0,len(df)-1):
    if df.iloc[i,1]=="Hartlaub's Turaco" and df.iloc[i,2]=='No record':
        x=(df.iloc[i])
        print(x)

Recording             6-2017-11-25-07-15-49.wav
Foreground Species            Hartlaub's Turaco
Background Species                    No record
Name: 293, dtype: object
Recording             6-2017-11-25-07-20-49.wav
Foreground Species            Hartlaub's Turaco
Background Species                    No record
Name: 294, dtype: object

In [10]:
for i in range(0,len(df)-1):
    if df.iloc[i,1]=="Yellow-rumped Tinkerbird" and df.iloc[i,2]=='No record':
        x=(df.iloc[i])
        print(x)

Recording             10-2017-11-22-09-28-20.wav
Foreground Species      Yellow-rumped Tinkerbird
Background Species                     No record
Name: 497, dtype: object

In [11]:
#df.to_csv('Brds.csv')